<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
	</head>
	<body>	
		{{> header }}
		<p><a href="http://www.cuckoopost.com/" target="_blank">Cuckoopost</a></p>
		{{> footer }}
	</body>
</html>