<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<style type="text/css">
			.list {
				display: flex;
				list-style: none;
				justify-content: center;
			}
			.list-item {
				padding: 10px;
			}
			.list-item a {
				text-decoration: none;
				color: #000;
				font-weight: bold;
			}
			.list-item a:hover {
				text-decoration: underline;
			}
			.center {
				text-align: center;
			}
		</style>
	</head>
	<body>	
		{{> header }}
		<p class="center">
			<a href="https://www.cuckoopost.com" target="_blank">Cuckoopost</a>
			<div class="center">Template: Handlebars, Server: Node JS, Routes handling: Express JS, Styling: CSS flexbox</div>
		</p>
		{{> footer}}
	</body>
</html>